html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
    font-display: swap;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./utils/Background/BRICK-WALL-min.webp");
    background-repeat: repeat;
    background-size: contain;
}

.top-photo{
    background-image: url("./utils/Background/BRICK-WALL-min.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.top-photo img {
    height: 500px;
}
  
.top-section, .mid-section{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.top-section img{
    height: 200px;
}

.top-section {
    height: 110vh;
}

.introduction{
    background-image: url('./utils/Background/mids.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.introduction p{
    max-width: 600px;
    margin-bottom: 60px;
}
.btn{
    margin-bottom: 100px;
}
button{
    font-size: 15px;
    background-color: rgb(232, 55, 55);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: red;
}

.mid-section h1{
    font-size: 40px;
    font-weight: 700;
}

.mid-section h2{
    font-size: 20px;
}

.catering{
    color: rgb(232, 55, 55);
}

.mid-section{
    margin: auto;
    padding-left: 100px ;
    padding-bottom: 30px;
}

.our-services ul{
    margin-left: 40px;
}

.catering-service{
    max-width: 600px;
    min-width: 600px;
    font-weight: 500;
    text-align: left;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-details a{
    text-decoration: none;
    color: inherit;
}
.contact-details a:hover{
    color: red;
}
.text-icon{
    margin-bottom: 5px;
    text-indent: 15px;
    display: flex;
    flex-direction: row;
}

.location{
    display: flex;
    flex-direction: row;
    max-width: 400px;
}

.location p{
    padding-left: 15px;
}

.contact-details img{
    height: 26px;
    width: 26px;
}

.container{
    display: flex;
    flex-direction: row;
}

.mid-section {
    flex: 1 1 50%;
}

.photo-container {
    flex: 1 1 50%;
    position: relative;
}

.photo-container img{
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}

footer p{
    font-size: 12px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
  
.social-icons {
    display: inline-block;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

  @media only screen and (min-device-width: 390px) and (max-device-width: 926px) and (-webkit-device-pixel-ratio: 3){
    .top-photo img{
        height: 200px;
    }
    .top-section, .mid-section{
        font-size: 15px;
        margin: auto;
    }
    .top-section{
        height: 80vh;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 100px;
    }
    .introduction p{
        max-width: 250px;
        min-width: 200px;
    }
    /* .btn{
        font-size: 40px;
    } */
    button{
        font-size: 10px;
        border-radius: 34px;
        padding: 10px 20px;
    }
    .mid-section{
        padding-left: 10px;
        padding-bottom: 30px;

    }
    .mid-section h1{
        font-size: 25px;
    }

    .mid-section h2{
        font-size: 15px;
    }
    .catering-service{
        max-width: 300px;
        min-width: 280px;
    }
    .contact-details img{
        height: 10px;
        width: 10px;
    }
    .location p{
        min-width: 100px;
        max-width: 150px;
    }
    .photo-container{
        padding: 0;
        margin: 0;
    }
    .photo-container img{
        height: 250px;
    }
    .contact-details img{
        height: 25px;
        width: 25px;
    }
    footer p{
        font-size: 12px;
    }
    .social-icons a {
        width: 35px;
        height: 35px;
    } 
  }
  @media only screen and (min-device-width: 428px) and (max-device-width: 926px){
    .top-photo img{
        height: 10px;
    }
    .top-section, .mid-section{
        font-size: 30px;
        margin: auto;
    }
    .top-section{
        height: 80vh;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 100px;
    }
    .introduction p{
        max-width: 250px;
        min-width: 200px;
    }
    button{
        font-size: 10px;
        border-radius: 34px;
        padding: 10px 20px;
    }
    .mid-section{
        padding-left: 10px;
        padding-bottom: 30px;

    }
    .mid-section h1{
        font-size: 25px;
    }

    .mid-section h2{
        font-size: 15px;
    }
    .catering-service{
        max-width: 300px;
        min-width: 280px;
    }
    .contact-details img{
        height: 10px;
        width: 10px;
    }
    .location p{
        min-width: 100px;
        max-width: 150px;
    }
    .photo-container{
        padding: 0;
        margin: 0;
    }
    .photo-container img{
        height: 250px;
    }
    .contact-details img{
        height: 25px;
        width: 25px;
    }
    footer p{
        font-size: 12px;
    }
    .social-icons a {
        width: 35px;
        height: 35px;
    }  
  }
  @media only screen and (max-width: 389px) {
    .top-photo img{
        height: 140px;
    }
    .top-section, .mid-section{
        font-size: 16px;
        margin: auto;
    }
    .top-section{
        height: 100vh;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 100px;
    }
    .introduction p{
        margin-bottom: 40px;
        max-width: 300px;
        min-width: 220px;
    }
    button{
        font-size: 13px;
        border-radius: 35px;
        padding: 13px 26px;
    }
    .container{
        width: 100px;
    }
    .mid-section{
        border-style: dashed;
        padding-left: 30px;
        padding-bottom: 30px;

    }
    .mid-section h1{
        font-size: 26px;
    }

    .mid-section h2{
        font-size: 16px;
    }
    .catering-service{
        max-width: 200px;
        min-width: 195px;
    }
    .contact-details img{
        height: 5px;
        width: 5px;
    }
    .location p{
        min-width: 150px;
        max-width: 200px;
    }
    .photo-container{
        border-style: dotted;

    }
    .photo-container img{
        height: 100px;
    }
    .contact-details img{
        height: 25px;
        width: 25px;
    }
    footer p{
        font-size: 10px;
    }
    .social-icons a {
        width: 35px;
        height: 35px;
    }  
  }

  /* iPhone 6/7/8 */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .top-photo img{
        height: 180px;
    }
    .top-section, .mid-section{
        font-size: 16px;
        margin: auto;
    }
    .top-section{
        height: 97vh;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 100px;
    }
    .introduction p{
        margin-bottom: 40px;
        max-width: 300px;
        min-width: 220px;
    }
    button{
        font-size: 13px;
        border-radius: 35px;
        padding: 13px 26px;
    }
    .mid-section{
        padding-left: 30px;
        padding-bottom: 30px;

    }
    .mid-section h1{
        font-size: 26px;
    }

    .mid-section h2{
        font-size: 16px;
    }
    .catering-service{
        max-width: 350px;
        min-width: 300px;
    }
    .contact-details img{
        height: 5px;
        width: 5px;
    }
    .location p{
        min-width: 150px;
        max-width: 200px;
    }
    .photo-container{
        padding: 0;
        margin: 0;
    }
    .photo-container img{
        height: 170px;
    }
    .contact-details img{
        height: 22px;
        width: 22px;
    }
    footer p{
        font-size: 12px;
    }
    .social-icons a {
        width: 35px;
        height: 35px;
    }  
}

/* iPhone 6/7/8 Plus */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .top-photo img{
        height: 180px;
    }
    .top-section, .mid-section{
        font-size: 17px;
        margin: auto;
    }
    .top-section{
        height: 85vh;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 100px;
    }
    .introduction p{
        margin-bottom: 40px;
        max-width: 320px;
        min-width: 300px;
    }
    button{
        font-size: 13px;
        border-radius: 35px;
        padding: 13px 26px;
    }
    
    .mid-section{
        padding-left: 30px;
        padding-bottom: 30px;

    }
    .mid-section h1{
        font-size: 27px;
    }

    .mid-section h2{
        font-size: 17px;
    }
    .catering-service{
        max-width: 360px;
        min-width: 320px;
    }
    .contact-details img{
        height: 5px;
        width: 5px;
    }
    .location p{
        min-width: 150px;
        max-width: 200px;
    }
    .photo-container{
        padding: 0;
        margin: 0;
    }
    .photo-container img{
        height: 170px;
    }
    .contact-details img{
        height: 22px;
        width: 22px;
    }
    footer p{
        font-size: 12px;
    }
    .social-icons a {
        width: 30px;
        height: 30px;
    }  
}
