html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
    font-display: swap;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./utils/Background/BRICK-WALL-min.webp");
    background-repeat: repeat;
    background-size: contain;
}

.top-photo{
    background-image: url("./utils/Background/BRICK-WALL-min.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.top-photo img {
    height: 500px;
}
  
.top-section, .mid-section{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.top-section img{
    height: 200px;
}

.top-section {
    height: 120vh;
}

.introduction{
    background-image: url('./utils/Background/mids.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.introduction a{
    margin-top: 30px;
}
.introduction p{
    max-width: 600px;
    margin-bottom: 10px;
}

button{
    font-size: 15px;
    background-color: rgb(232, 55, 55);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: red;
}

.mid-section h1{
    font-size: 40px;
    font-weight: 700;
}

.mid-section h2{
    font-size: 20px;
}

.catering{
    color: rgb(232, 55, 55);
}

.mid-section{
    margin: auto;
    padding-left: 100px ;
    padding-bottom: 10px;
}

.our-services ul{
    margin-left: 40px;
}

.catering-service{
    max-width: 600px;
    min-width: 600px;
    font-weight: 500;
    text-align: left;
}

.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-details a{
    text-decoration: none;
    color: inherit;
}
.contact-details a:hover{
    color: red;
}
.text-icon{
    margin-bottom: 5px;
    text-indent: 15px;
    display: flex;
    flex-direction: row;
}

.location{
    display: flex;
    flex-direction: row;
    max-width: 400px;
}

.location p{
    padding-left: 15px;
}

.contact-details img{
    height: 26px;
    width: 26px;
}

.container{
    display: flex;
    flex-direction: row;
}

.mid-section {
    flex: 1 1 50%;
}

.photo-container {
    flex: 1 1 50%;
    position: relative;
}

.photo-container img{
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}

footer p{
    font-size: 12px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
  
.social-icons {
    display: inline-block;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* XX Small */
@media (min-width: 322px) and (max-width: 448.98px){

}

/* Extra small devices (phones) */
@media (min-width: 449px) and (max-width: 575.98px) { 
    .top-photo img{
        height: 231.5px;
    }
    .top-section, .mid-section{
        font-size: 18px;
        margin: auto;
    }
    .top-section{
        height: 750px;
    }
    .introduction{
        background-size: contain;
    }
    .introduction img{
        height: 135px;
    }
    .introduction p{
        max-width: 400px;
        min-width: 300px;
    }
    button{
        font-size: 13px;
    }
    .mid-section{
        padding-left: 20px;
        padding-bottom: 10px;

    }
    .mid-section h1{
        font-size: 30px;
    }
    .mid-section h1{
        font-size:28px;
    }
    .mid-section h2{
        font-size: 18px;
    }
    .catering-service{
        max-width: 500px;
        min-width: 420px;
    }
    .contact-details img{
        height: 23px;
        width: 23px;
    }
    .location p{
        min-width: 250px;
        max-width: 250px;
    }
    .photo-container{
        padding: 0;
        margin: 0;
    }
    .photo-container img{
        height: 230px;
    }

  }
  
  /* Small devices (tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    /* Styles here */
  }
  
  /* Medium devices (laptops, desktops) */
  @media (min-width: 768px) and (max-width: 991.98px) { 
    /* Styles here */
  }
  
  /* Large devices (large laptops, desktops) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    /* Styles here */
  }
  
  /* Extra large devices (TVs, projectors) */
  @media (min-width: 1200px) { 
    /* Styles here */
  }
  